/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
<<<<<<< HEAD
    Created on : Aug 24, 2023, 3:30:05 PM
    Author     : vhuunghia
=======
    Created on : Sep 2, 2023, 3:10:20 PM
    Author     : nguye
>>>>>>> 2f165ec42f819b7f800bac496f6188f9cda59c09
*/

/* body{
    margin-top:20px;
    background: #ffffff;
} */
.login_item{

}
#bt_login{
    border: none;
    font-size: 0.8vw;
    background: none;
    color: rgb(0, 27, 146);
}
.account-block {
    padding: 0;
    background-image: url(https://bootdey.com/img/Content/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}
.account-block .overlay {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.account-block .account-testimonial {
    text-align: center;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
}

.text-theme {
    color: #5369f8 !important;
}

.btn-theme {
    background-color: #5369f8;
    border-color: #5369f8;
    color: #fff;
}


/*  */
.background_login_form{

    background-color: rgba(11, 198, 255, 0.114);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    display: none;
    /* z-index: 4000; */

    /* animation */
    opacity: 0;

    animation-duration: 0.5s ;
    animation-timing-function: cubic-bezier();
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
.login_form_contain{
    border-radius: 40px;
    width: 1000px;
    position: fixed;
    top: 5%;
    left: 10%;
    right: 10%;
    /* z-index: 5000 ; */
    background-image: linear-gradient(rgb(100, 222, 238),
    rgb(11, 181, 223),rgb(40, 176, 197),rgb(6, 119, 185),rgb(1, 81, 147),rgb(4, 31, 42));
    transform: scale(0.7);
    display: none;


    /* animation */

    animation-duration: 0.5s ;
    animation-timing-function: cubic-bezier();
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.login_form{
    /* background-color: blue; */
}
.account-block{
    background-image: url(https://img.uhdpaper.com/wallpaper/mountain-forest-scenery-877@0@f-preview.jpg?dl);
}
@keyframes fadeIN {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;

    }
    75%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0.75;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.25;
    }
    100%{
        opacity: 0;
    }
}

#login_bt{
    border-style: none;
   
    float: right;
    height: 100%;
    margin-right: 10px;
    border-right-style: solid;
    border-bottom-right-radius: 20px;
}

.login_ui{
    position: fixed;
    z-index: 2000;
}